-content_for :head_scripts do
  %meta{:name => 'viewport', :content => 'initial-scale=1.0, user-scalable=no'}
  =stylesheet_link_tag '/assets/home/shared.css'
  =stylesheet_link_tag '/assets/home/index.css'
  :javascript
    window.FansOfRomney = #{@friend_likes.to_json};
    window.TotalFriendCount = #{@total_friends};
=render :partial => 'header'

#main_container
  #background
  #text_container
    #nicework
      .label

    .bar_block#romney_fans
      #romney_fans_div
      .count 0
      .label Friends that like Mitt Romney
    .bar_block#total_friends
      #total_friends_div
      .count 0
      .label Total Friends
    .rating_and_sharing
      .rate_block
        .percent_box 
          .percent#percent_label
            .percent_number 0
            .percent_sign %
        .label of your friends like Mitt Romney
      #sharing
        .share_buttons
          %span.label Share Your Romney Rate
          %ul.share.left
            %li
              .fb-like{:data => {:href=>"http://www.whatsmyromneyrate.com/#{@u.permalink}", :send=>"false", :width=>"450", :'show-faces'=>"false", :layout => 'button_count'}}
            %li
              %a{href:"https://twitter.com/share", class:"twitter-share-button", :data => {text:"#{@friend_likes.count} of my friends 'like' Mitt Romney. That's a #RomneyRate of only #{100*@friend_likes.count/@total_friends}% !!! How low is your RomneyRate?" , size:"medium", :url => bitly_url("http://www.whatsmyromneyrate.com/#{@u.permalink}")}} Tweet
            /:plain
            /<li><g:plus action="share" annotation="bubble"></g:plus></li>
          %ul.share.right
            :plain
              <li><script type="IN/Share" data-url="http://www.whatsmyromneyrate.com/"></script></li>
              <li><span id="tumblr_button_page"></span></li>

    #how_well_know
      .label 
        = "So... Um... How well do you know these #{@friend_likes.count} Friends?"
      #thumbnails
        -@friend_likes.each do |friend|
          .thumb{:data => {:name => friend.name}}
            %a{:href=>friend.profile_url}
              %img.thumb{:src => friend.image_url, :width => 50, :height => 50}

    
      
  #hey_mitt_check_math
    =image_tag image_path('clinton-knows-arithmetic.png')

=render :partial => 'footer'

#fb-root

-content_for :end_scripts do
  =javascript_include_tag '/assets/home/index.js'
  :plain
    <script type="text/javascript">
        var tumblr_button2 = document.createElement("a");
        tumblr_button2.setAttribute("href", "http://www.tumblr.com/share/link?url=" + encodeURIComponent(page_url) + "&name=" + encodeURIComponent(page_name) + "&description=" + encodeURIComponent(page_description));
        tumblr_button2.setAttribute("title", "Share on Tumblr");
        tumblr_button2.setAttribute("style", "display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;");
        tumblr_button2.innerHTML = "Share on Tumblr";
        document.getElementById("tumblr_button_page").appendChild(tumblr_button2);
    </script>