-content_for :head_scripts do
  =stylesheet_link_tag '/assets/home/shared.css'
  =stylesheet_link_tag '/assets/home/login.css'
  -if(@u)
    %meta{:property=>"og:image", :content=> image_path('facebook-share.png')}
    %meta{:property=>'og:title', :content=> "What's My Romney Rating?"}
    %meta{:property=>'og:type', :content=> 'website'}
    %meta{:property=>'og:url', :content=> "http://www.whatsmyromneyrate.com/#{@u.permalink}"}
    %meta{:property=>'og:site_name', :content=>"Romney Rating"}
    %meta{:property=>'og:description', :content=>"#{@friend_likes.count} of my friends 'like' Mitt Romney. That's a #RomneyRate of only #{@romney_rate}% !!! How low is your RomneyRate?"}
    %meta{:property=>'fb:app_id', :content=> "#{FACEBOOK_CONFIG['app_id']}"}
  -else
    %meta{:property=>"og:image", :content=> image_path('facebook-share.png')}
    %meta{:property=>'og:title', :content=> "What's My Romney Rating?"}
    %meta{:property=>'og:type', :content=> 'website'}
    %meta{:property=>'og:url', :content=> "http://www.whatsmyromneyrate.com/"}
    %meta{:property=>'og:site_name', :content=>"Romney Rating"}
    %meta{:property=>'og:description', :content=>"What percentage of your friends 'like' Mitt Romney? Find out what your RomneyRate is at www.whatsmyromneyrate.com"}
    %meta{:property=>'fb:app_id', :content=> "#{FACEBOOK_CONFIG['app_id']}"}

=render :partial => 'header'

#main_container
  #background
  #text_container
    #what_percent
      %span.main_label
        What Percentage of Your
    #friends_like
      %span.main_label
        Friends "Like" Mitt Romney
    #question_mark
      %span.main_label ?

    #description 
      Friends probably shouldn't let friends "like" Mitt Romney.
      %br
      Stopping it starts with understanding the size of the problem.
      %p Click below and hold your breath while we do some long division.
  

    .login_container
      #login_button
        .label_container
          %span.first_part Calculate your
          %span.second_part Romney Rate
      #login_subtext (remember, lower is better)

=render :partial => 'footer'
#fb-root

-content_for :end_scripts do
  =javascript_include_tag '/assets/home/login.js'
