-content_for :head_scripts do
  %meta{:name => 'viewport', :content => 'initial-scale=1.0, user-scalable=no'}
  =stylesheet_link_tag '/assets/home/shared.css'
  =stylesheet_link_tag '/assets/home/show.css'
  :javascript
    window.FansOfRomney = #{@friend_likes.to_json};
    window.TotalFriendCount = #{@total_friends};
  %meta{:property=>"og:image", :content=> image_path('facebook-share.png')}
  %meta{:property=>'og:title', :content=> "What's My Romney Rating?"}
  %meta{:property=>'og:type', :content=> 'website'}
  %meta{:property=>'og:url', :content=> "http://www.whatsmyromneyrate.com/#{@u.permalink}"}
  %meta{:property=>'og:site_name', :content=>"Romney Rating"}
  %meta{:property=>'og:description', :content=>"#{@friend_likes.count} of my friends 'like' Mitt Romney. That's a #RomneyRate of only #{@romney_rate}% !!! How low is your RomneyRate?"}
  %meta{:property=>'fb:app_id', :content=> "#{FACEBOOK_CONFIG['app_id']}"}
=render :partial => 'header'

#main_container
  #background
  .login_container
    #login_button
      .label_container
        %span.first_part Calculate your
        %span.second_part Romney Rate
    #login_subtext (remember, lower is better)
  #text_container
    #nicework
      ="Nice Work.  You can trust (almost) all of #{@u.name}'s friends."

    .bar_block#romney_fans
      #romney_fans_div
      .count 0
      .label Friends that like Mitt Romney
    .bar_block#total_friends
      #total_friends_div
      .count 0
      .label Total Friends
    .rating_and_sharing
      .rate_block
        .percent_box 
          .percent#percent_label 0%
        .label 
          = "of #{@u.name}'s friends like Mitt Romney"

    #how_well_know
      .label 
        = "So...Um...How well do you know these #{@friend_likes.count} Friends?"
      #thumbnails
        -@friend_likes.each do |friend|
          %img.thumb{:src => friend.image_url, :width => 50, :height => 50}

  #hey_mitt_check_math Hey Mitt, Check our Math, it adds up!
      

  


=render :partial => 'footer'

#fb-root

-content_for :end_scripts do
  =javascript_include_tag '/assets/home/show.js'